<article class="container border border-info border-5">
    <div class="row bg-info text-light">
        <a href="/post/{{id}}" class="col-auto fs-2 text-reset text-decoration-none">{{title}}</a>
        <p class="col fs-4 text-end">Posted by {{user.username}} on {{format_date createdAt}}</p>
    </div>
    <div class="row">
        <p class="col fs-5 mt-3">{{contents}}</p>
    </div>
</article>